/*pages d'accueil*/
body
{
    background-color: grey;
    text-align: center;
}
.title
{
    
}
a
{
    color: greenyellow;
}

/* pour repere des colonne

*/.leftColumm
{
   text-align: center
}
.centralColumm
{
   
    
}
.rigthColumm
{
  
}
/*navbar*/
nav
{
    background-color: grey;

}